@model List<string>
@{
    ViewBag.Title = "Error";
}

<h1>Error</h1>
<nav class="y-margin">
    <a class="btn btn-default" href="/Teacher/List">Back To List</a>
</nav>
@if (Model != null)
{
    foreach (string error in Model)
    {
        <div class="alert alert-danger" role="alert">@error</div>
    }
}